<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<p> <a href="/">Home</a> </p>
 <p> <a href="/users">Users</a> </p>

<h1>Here's the user <%= user.username %> </h1>

<h2>Here's <%= user.username %>'s photos</h2>

        <div>    
            <section>
                <% for (let i = 0; i < user.photos.length; i++) { %>

                <a href="/photos/<%=user.photos[i].id%>"><%= user.photos[i].title %> </a>

               <% } %>
            </section>
        </div>

        <div>
            <section>
                <a href="/photos/new">Add Photo</a>
            </section>
        </div>

        <div>    
            <section>
                <a href="/users/<%=user.username_id%>">Edit User</a>
            </section>
        </div>

        <section>
            <form action="/users/<%=user._id%>?_method=DELETE" method="post">
                <input type="submit" value="Delete User"/>
            </form>
        </section>

</body>
</html>